<h1> Pixtr says hi </h1>

<% link_to "Make a New Gallery", new_gallery_path %>
<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %>
      -
      <%= gallery.description %>

      <%= link_to "Edit", edit_gallery_path(gallery) %>

      <%= form_for gallery, method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>
    </li>
  <%end%>
</ul>
